*.beam
*.swp
.DS_Store
tmp
bin/configlet
bin/configlet.exe
problem-specifications

pom.xml
pom.xml.asc
*jar
*lib/
*classes/
*target/
*checkouts/
*.lein-deps-sum
*.lein-repl-history
*.lein-plugins/
*.lein-failures
*.nrepl-port
.calva/output-window/output.calva-repl
.clj-kondo/.cache/2021.01.21-SNAPSHOT/lock
.clj-kondo/.cache/2021.01.21-SNAPSHOT/clj/generator.transit.json
