*.beam
*.swp
.DS_Store
tmp
bin/configlet
bin/configlet.exe
x-common

pom.xml
pom.xml.asc
*jar
*lib/
*classes/
*target/
*checkouts/
*.lein-deps-sum
*.lein-repl-history
*.lein-plugins/
*.lein-failures
*.nrepl-port
