(ns isogram-test
  (:require [clojure.test :refer [deftest testing is]]
             isogram))

{{#test_cases.isIsogram~}}
(deftest isogram_test_{{idx}}
  (testing "{{description}}"
    {{#expected~}}
    (is (isogram/isogram? "{{input.phrase}}"))))
    {{else~}}
    (is (not (isogram/isogram? "{{input.phrase}}")))))
    {{/expected}}
{{/test_cases.isIsogram}}
